body.background-container {
  background-image: url('../../Img/BackgroundHsR.jpg');
  background-color: rgba(7, 12, 11, 0.5);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px); /* For Safari */
  color: white;
}

.transparent-text {
  color: white;
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  width: 20%;
  margin: 1 auto;
  text-align: left; /* align the text to the left */
}

/*Para que el texto no ande pegado a la izquierda */
.indent {
  padding-left: 15px;
}

/* Restablecimiento espacio, borde de los elementos */
body {
  margin: 0;
  padding: 0;
}

/* Diseño del titulo */
header {
  background-color: #333;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Color del titulo*/
header h1 {
  color: #fff;
  font-size: 36px;
  margin-top: 10px;
}

/* Diseño del apartado de arriba */
nav {
  background-color: #444;
  height: 60px;
  display: flex;
  align-items: center;
}

/* Ubicación del apartado de arriba (Arriba, abajo*/
nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
}

/* Ubicación del apartado de arriba (Izquierda, derecha) */
nav ul li {
  padding: 0 20px;
}

/* Color del apartado de arriba */
nav ul li a {
  color: #ffffff;
  text-decoration: none;
}


/* Tamaño de los titulos */
.Seele-title {
  font-size: 80px;
  color: #fff;
  height: 50px;
}

/* Front Habilidades */
header#Habilidades {
  background-color: transparent;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header#Habilidades h1 {
  font-size: 50px;
  color: #ffffff;
  margin-bottom: -30px;
}

/* Habilidades */
.Habilidad1Nombre-title,
.Habilidad2Nombre-title,
.Habilidad3Nombre-title,
.TalentoNombre-title,
.TécnicaNombre-title {
  font-size: 30px;
  height: 10px;
  color: #17bdf0;
}

.Habilidad1Características-title,
.Habilidad2Características-title,
.Habilidad3Características-title,
.TalentoCaracterísticas-title,
.TécnicaCaracterísticas-title {
  font-size: 18px;
  height: 10px;
  color: #2f90b7;
}

footer {
  background-color: #282828;
  color: #fdfdfd;
  text-align: center;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.copyright {
  margin: 0;
  font-size: 0.8rem;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  margin: 1rem 0;
  width: 50%;
}
