/*Background */
body {
  margin: 0; /* Restablecer el margen a 0 */
  padding: 0; /* Restablecer el relleno a 0 */
  background-image: url('../../Img/BackgroundHsR.jpeg'); /* Ruta de la imagen de fondo */
  background-size: cover; /* Ajustar la imagen de fondo para cubrir todo el área del elemento */
  background-position: center; /* Centrar la imagen de fondo */
}

.transparent-text {
  color: white;
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 25px;
  position: relative; /* Añadir posicionamiento relativo */
  animation: slideFromRight 1s forwards; /* Aplicar animación */
  margin: 10px auto 20px auto; /* Margen superior e inferior automáticos, margen izquierdo y derecho automáticos */
  max-width: 38%; /* Opcional: limitar el ancho máximo del texto */
  text-align: right; /* Centrar el texto horizontalmente */
}

@keyframes slideFromRight {
  from {
    left: 100%; /* Iniciar desde la derecha */
  }
  to {
    left: 50%; /* Desplazarse hacia el centro */
    transform: translateX(-50%); /* Ajustar para centrar completamente */
  }
}

.indent {
  padding-left: 15px;
}

/* Estilos de encabezado */
header {
  background-color: #333;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  color: #fff;
  font-size: 36px;
  margin-top: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Contorno */
}

/* Estilos de navegación */
nav {
  background-color: #444;
  height: 60px;
  display: flex;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
}

nav ul li {
  padding: 0 20px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

/* Tamaño de los titulos */
.Seele-title {
  font-size: 80px;
  color: #fff;
  height: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Contorno */
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-left {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 70px;
  color: #fff;
  height: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Contorno */
}
.title-right {
  text-align: right;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 70px;
  color: #fff;
  height: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Contorno */
}

.Habilidad1Nombre-title,
.Habilidad2Nombre-title,
.Habilidad3Nombre-title,
.TalentoNombre-title,
.TécnicaNombre-title {
  font-size: 50px;
  height: 10px;
  color: #5dd5fd;
  display: flex;
  justify-content: right;
  margin-right: 25px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Contorno */
}

.Habilidad1Características-title,
.Habilidad2Características-title,
.Habilidad3Características-title,
.TalentoCaracterísticas-title,
.TécnicaCaracterísticas-title {
  font-size: 25px;
  height: 10px;
  color: #5dd5fd;
  display: flex;
  justify-content: right;
  margin-right: 25px; /* Agrega espacio a la derecha */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Contorno */
}

/* Estilos de pie de página */
footer {
  background-color: #282828;
  color: #fdfdfd;
  text-align: center;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.copyright {
  margin: 0;
  font-size: 0.8rem;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  margin: 1rem 0;
  width: 50%;
}